@using E_Commerce.Models
@model Product
@{
                /**/

                ViewBag.Title = "Create";
}
<link href="~/Content/jQuery-File-Upload-9.28.0/css/jquery.fileupload.css" rel="stylesheet" />
<h2>Create Product</h2>
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @Html.ValidationSummary()
    </div>
}
<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label>Kategoriler</label>
        <select name="CategoryIds" class="form-control">
            <option value="">Seçiniz</option>
            @foreach (Category item in ViewBag.Categories)
            {                
                <option value="@item.Id">@item.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label>Ürün Adı</label>
        <input name="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label>Renk</label>
        <input name="Color" class="form-control" />
    </div>
    <div class="form-group">
        <label>Fiyat</label>
        <input type="number" name="Price" class="form-control" />
    </div>
    <div class="form-group">
        <label>Beden</label>
        <select id="Size" class="form-control" name="sizes">
            <option value="">Seçiniz</option>
            @{
                var sizeoptions = Enum.GetValues(typeof(Size));
            }
            @foreach (var item in sizeoptions)
            {
                <option value="@Array.IndexOf(sizeoptions,item)">@item</option>}
        </select>

    </div>
    <div class="form-group">
        <label>Ürün Adeti</label>
        <input type="number" name="ProductQuantity" class="form-control" />
    </div>
    <div class="form-group">
        <label>Ürün Özellikleri</label>
        <p style="font-size:10px;">Lütfen ürün bilgilerini giriniz.</p>
        <textarea name="Description" class="form-control" rows="5"></textarea>
    </div>

    <div class="form-group">
        <span class="btn btn-success fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>Resimleri Seçiniz</span>
            <input id="fileupload" type="file" name="productImage" multiple />
        </span>
    </div>
    <button class="btn btn-success">Kaydet</button>

    <div id="progress" class="progress">
        <div class="progress-bar progress-bar-success"></div>
    </div>
    <div id="files" class="files"></div>
</form>
